//------------------------------------
//  Layout.Layout
//------------------------------------

html,
body {
  height: 100%;
}

body {
  background-color: $brand-dirty-white;
  font-family: $font-include;
  font-weight: 400;
  color: $brand-black;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  &.modal-open {
    overflow: hidden;
  }
}

a,
label {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.clearfix {
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    content: "";
    width: 0;
    height: 0;
  }
}

input,
textarea,
button {
  font: 400 16px/18px $font-main, sans-serif;
  outline: none;
}

.inline-middle {
  font-size: 0;
  &:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
  }
}

.image {
  max-width: 100%;
  height: auto;
}
