//------------------------------------
//  Layout.Setup
//------------------------------------

//====
// Font
//====

$font-main : 'PT Sans';
$font-text : 'PT Serif';
$font-include : $font-main, 'Arial', sans-serif;


//====
// Brand Colors
//====

$brand-black: #302f2d;
$brand-light-black: #302f2d;
$brand-white: #fff;
$brand-dirty-white: #f1f1f1;
$brand-extra-light-gray: #e6e6e6;
$brand-light-gray: #ddd;
$brand-gray: #73716e;
$brand-dark-gray: #504f4e;
$brand-red: #f75b06;


//====
// Index level
//====

$index-hidden : -1;
$index-bottom : 1;
$index-content : 10;
$index-modal : 20;
$index-modal-content : 30;
