//------------------------------------
//  Blocks.Aside
//------------------------------------

.aside {
  box-sizing: border-box;
  background-color: $brand-light-black;
  color: $brand-white;
}

.aside__title {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.aside__title_pop {
  display: none;
}

@media screen and (min-width: 630px) {
  .aside__title {
    padding: 20px;    
  }
}

@media screen and (max-width: 629px) {
  .aside__title {
    padding: 10px;
    border-bottom: 1px solid $brand-dark-gray;
  }
}
