//------------------------------------
//  Blocks.Button
//------------------------------------

.button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  border: 0;
}

.button_content {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1;
  background-color: $brand-dirty-white;
}

.button_modal {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1;
  background-color: $brand-red;
  color: $brand-white;
}

@media screen and (min-width: 768px) {
  .button_content {
    font-size: 20px;
    padding: 36px 10px;
    &:hover {
      background-color: darken($color: $brand-dirty-white, $amount: 5)
    }
  }
  .button_modal {
    &:hover {
      background-color: lighten($color: $brand-red, $amount: 5)
    }
  }
}

@media screen and (max-width: 767px) {
  .button_content {
    font-size: 16px;
    padding: 26px 10px;
  }
}

@media screen and (min-width: 481px) {
  .button_modal {
    font-size: 18px;
    padding: 23px 10px 19px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .button_modal {
    font-size: 16px;
    padding: 20px 10px 16px;
    margin-top: 30px;
  }
}