//------------------------------------
//  Blocks.Content
//------------------------------------

.content {
  margin-bottom: 30px;
  hyphens: auto;
  h1,
  h2 {
    font-weight: bold;
    line-height: 1;
    display: block;
    hyphens: none;
  }
  p {
    display: block;
    font: 18px/24px $font-text, serif;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    padding: 10px 50px 50px 10px;    
  }
  h1 {
    font-size: 50px;
    margin: 35px 0 16px;
  }
  h2 {
    font-size: 30px;
    margin: 40px 0 16px;
  }
}

@media screen and (max-width: 767px) {
  .content-wrapper {
    padding: 10px;
  }
  h1 {
    font-size: 30px;
    margin: 25px 0 16px;
  }
  h2 {
    font-size: 24px;
    margin: 40px 0 16px;
  }
}