//------------------------------------
//  Blocks.Footer
//------------------------------------

.footer {
  flex-shrink: 0;
}

@media screen and (min-width: 768px) and (max-width: 1160px) {
  .footer {
    .col {
      padding: 0 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 65px;
    .col {
      &:last-of-type {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 20px 20px 40px;
    text-align: center;
    box-sizing: border-box;
    .col {
      flex-basis: 100% !important;
      margin-left: 0;
      margin-right: 0;
      &:last-of-type {
        margin-top: 10px;
      }
    }
  }
}