//------------------------------------
//  Blocks.Grid
//------------------------------------

.container {
  min-width: 320px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .col {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.col {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 1.7%;
}

.col-1 {
  -ms-flex-preferred-size: 5.17333%;
  flex-basis: 5.17333%;
}
.col-2 {
  -ms-flex-preferred-size: 13.7999%;
  flex-basis: 13.7999%;
}
.col-4 {
  -ms-flex-preferred-size: 31%;
  flex-basis: 31%;
}
.col-6 {
  -ms-flex-preferred-size: 48.2772%;
  flex-basis: 48.2772%;
}
.col-8 {
  -ms-flex-preferred-size: 65.5536%;
  flex-basis: 65.5536%;
}
.col-10 {
  -ms-flex-preferred-size: 82.7532%;
  flex-basis: 82.7532%;
}

@media screen and (min-width: 1159px) {
  .container {
    padding: 0 calc(50% - 580px);
  }
}