//------------------------------------
//  Blocks.Header
//------------------------------------

.header {
  padding-bottom: 34px;
  flex-shrink: 0;
}
.header__logo {
  display: inline-block
}
.header__link {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  color: $brand-black;
  &:first-of-type {
    .header__icon {
      margin-top: 0;
    }
  }
}

.header__icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  margin-top: -3px;
}

.header__link-text {
  display: inline-block;
  background: linear-gradient($brand-light-gray, $brand-light-gray) no-repeat;
  background-size: 100% 1px;
  background-position: 0 21px;
  white-space: nowrap;
  line-height: 22px;
}

@media screen and (min-width: 1160px) {
  .header__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1159px) {
  .header__logo {
    margin-left: 20px;
    margin-right: -20px;
  }
  .header__nav {
    margin-left: -20px;
    margin-right: 20px;
  }
  .header__link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-top: 36px;
  }
  .header__nav {
    text-align: right;
    margin-top: 50px;
  }
  .header__link {
    margin-left: 45px;
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      color: $brand-red;
      .header__link-text {
        background-image: linear-gradient($brand-red, $brand-red);
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    text-align: center;
    margin-top: 16px;
    .col {
      flex-basis: 100% !important;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .header__nav {
    margin-top: 30px;
  }
  .header__link {
    font-size: 14px;
    padding: 8px 0;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    padding-bottom: 10px;
  }
  .header__link {
    width: 25%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 10px;
  }
  .header__link {
    width: 50%;
  }
}