//------------------------------------
//  Blocks.Input
//------------------------------------

.input__label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}
.input__field {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $brand-extra-light-gray;
  border-radius: 4px;
  padding: 13px 0 12px 19px;
  height: 50px;
  background-color: $brand-dirty-white;
  transition: border-color 150ms ease-out;
  &:focus {
    border-color: $brand-gray;
  }
}
.input__field_texarea {
  height: 150px;
  max-height: 150px;
  resize: none;
}
.input__field_error {
  border-color: $brand-red !important;
}
.input__error {
  font-style: italic;
  margin: 6px 0 -6px;
  color: $brand-red;
}

@media screen and (min-width: 481px) {
  .input {
    margin-bottom: 23px;
  }
  .input__label,
  .input__field {
    font-size: 18px;
  }
  .input__field {
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .input {
    margin-bottom: 18px;
  }
  .input__label,
  .input__field {
    font-size: 16px;
  }
}