//------------------------------------
//  Blocks.Link
//------------------------------------

.link {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .link {
    &:hover {
      opacity: .9
    }
  }
}