//------------------------------------
//  Blocks.Main
//------------------------------------

.main {
  display: flex;
  flex: 1 0 auto;
  .row {
    background-color: $brand-white;
  }
}

@media screen and (max-width: 629px) {
  .main {
    .col {
      flex-basis: 100% !important;
      margin-left: 0;
      margin-right: 0;
    }
  }
}