//------------------------------------
//  Blocks.Modal
//------------------------------------

.modal {
  position: fixed;
  z-index: $index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  visibility: hidden;
  &.show {
    visibility: visible;
    .modal__content {
      opacity: 1;
    }
    .modal__overlay {
      opacity: .8;
    }
  }
}

.modal__overlay {
  position: fixed;
  z-index: $index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 250ms cubic-bezier(.25, .46, .45, .94);
  transition-delay: 80ms;
  opacity: 0;
  background-color: $brand-black;
}

.modal__content {
  position: relative;
  z-index: $index-modal-content;
  max-width: 570px;
  margin: 50px auto;
  background-color: $brand-white;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(.25, .46, .45, .94);
  transition-delay: 150ms;
}

.modal__close {
  display: block;
  position: absolute;
  background: url("../images/close.svg") no-repeat center;
  background-size: 18px;
  width: 40px;
  height: 40px;
  right: 11px;
  top: 9px;
  opacity: .5;
  cursor: pointer;
  transition: opacity 150ms ease-out;
  &:hover {
    opacity: 1;
  }
}

.modal__title {
  display: block;
  font-weight: bold;
  font-size: 30px;
  margin: -6px 0 30px;
}

.modal__container-thanks {
  display: none;
  text-align: center;
  padding: 30px 0
}
.modal__text {
  font-size: 30px;
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  .modal__content {
    padding: 50px;
  }
}
@media screen and (max-width: 480px) {
  .modal__content {
    padding: 12px;
  }
}