//------------------------------------
//  Blocks.News
//------------------------------------

.news-list {
  flex-shrink: 0;
  font-size: 0;
}

.news {
  box-sizing: border-box;
}

.news__content {
  hyphens: auto;
}

.news__text {
  display: block;
  color: $brand-white;
  font-size: 16px;
  line-height: 20px;
}
.news__date {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  color: $brand-gray;
}

@media screen and (min-width: 1000px) {
  .news {
    display: flex;
  }
  .news__image {
    flex: 0 0 130px;
    margin-right: 20px;
  }
  .news__content {
    flex: 1;
    margin-top: -5px;
  }
}

@media screen and (max-width: 999px) {
  .news__image {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 630px) {
  .news {
    padding: 20px;
    border-bottom: 1px solid $brand-dark-gray;
    &:first-of-type {
      border-top: 1px solid $brand-dark-gray;
    }
  }
}

@media screen and (max-width: 629px) {
  .news {
    margin-left: 10px;
    padding: 10px 10px 10px 0;
    width: calc(50% - 10px);
    display: inline-block;
    vertical-align: top;
  }
}